# spec
**/private
/master/ZF_docs/Doxygen/Doxygen.exe
/master/ZF_docs/Doxygen/libclang.dll

# common
.svn
**/_release
**/_repo
**/_tmp
**/zfgensrc_*

# Android
**/Android/**/assets
**/Android/**/bin
**/Android/**/gen
**/Android/**/lib
**/Android/**/libs
**/Android/**/obj

# AndroidStudio
**/AndroidStudio/**/*.externalNativeBuild
**/AndroidStudio/**/*.gradle
**/AndroidStudio/**/*.idea
**/AndroidStudio/**/*.iml
**/AndroidStudio/**/build
**/AndroidStudio/**/captures
**/AndroidStudio/**/local.properties
**/AndroidStudio/**/src/main/assets

# iOS
**/.DS_Store
**/*xcuserdata*

# Qt
**/Qt/**/build-*
**/*.pro.user

# Windows
**/*.ncb
**/*.suo
**/*.vcproj.*.user

